.pic {
    width: 200px;
    height: 200px;
    margin: 5px;
    display: inline-block;
}
.dish {
    font-size: 20px;
    padding: 5px;
}
.price {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.Add {
    font-size: 16px;
    float: right;
    padding: 5px;
    background-color: greenyellow;

}
.DishControl {
    margin: 10px;
    padding: 25px;
    width: 80%;
    border: 1px solid black;
}