.App-nav {
  text-align: center;

}

.App-nav li {
  display: inline-block;
  list-style: none;
  float: right;
  margin: 15px;
  padding: 0;
}
.App-nav a {
  text-decoration: none;
  color: #000;
}
.App-nav a.active{
  color: blue;
  display: inline-block;
  border-bottom: 1px solid blue;

}